%header
 .container
  .row
   .span2.logo
    = image_tag('icon.png')
   .span14
    %h1
     Jenkins Plugin Hub
    %p.lead
     This site is a hub site for Jekins plugins. This site provides you Jenkins plugins quick search and RSS feed.
     %br
     Now
     = @plugins['plugins'].size
     plugins are avalable.

.container
 .row
  %table.zebra-striped
   %tr
    %th Name
    %th Version
    %th Release
    %th Description
   - @plugins['plugins'].each do |key, plugin|
    %tr
     %td.name= link_to(key, plugin['wiki'])
     %td.version= plugin['version']
     %td.release= plugin['releaseTimestamp']
     %td.discription= plugin['excerpt']

.container
 %footer Copyright (C) 2011 codefirst.org. All rights reserved.
