.container
 .row
  %ul#filter.pills{:style => 'margin-bottom:0'}
   %li.active= link_to "All", "#"
   - @categories.each do |category|
    %li= link_to category, "?category=#{category}"
 .row
  %table#table.zebra-striped
   %thead
    %tr
     %th Name
     %th Version
     %th Release
     %th Description
   %tbody
   - @plugins['plugins'].each do |key, plugin|
    %tr{:class => (plugin['labels']||[]).join(' ')}
     %td.name= link_to(key, plugin['wiki'])
     %td.version= plugin['version']
     %td.release= plugin['releaseTimestamp']
     %td.discription= plugin['excerpt']

:javascript
 $(function() {
   var filter = function(category) {
     $('#table tbody tr').each(function() {
       if (category == 'All' || $(this).hasClass(category)) {
         $(this).show();
       } else {
         $(this).hide();
       }
     });
   }
   $('#filter li').bind("click", function(e) {
     $('#filter li').removeClass("active");
     $(e.target).parent().addClass("active");
     filter(e.target.text);
     return false;
   });
 });
