!!! XML
%rss{ :version => "2.0" }
 %channel
  %title Jenkins Plugin Hub
  %link= "http://" + request.env["HTTP_HOST"] + url_for(:jenkins_plugins, :show)
  %description Jenkins Plugins
  %language en-us
  %pubDate= @mtime.rfc2822
  - @plugins['plugins'].to_a.sort { |a, b| Time.parse(b[1]['releaseTimestamp']) - Time.parse(a[1]['releaseTimestamp']) }.each do |key, plugin|
   %item
    %title= plugin['title'] + ' ' + plugin['version']
    %description= plugin['excerpt']
    %link= plugin['wiki']
    %author= plugin['developers'].map { |developer| developer['name'] }.join(', ')
    %pubDate= Time.parse(plugin['releaseTimestamp']).rfc2822
