.container
 .row
  %ul#filter.pills{:style => 'margin-bottom:0'}
   %li.active= link_to "All", "#"
   - @categories.each do |category|
    %li= link_to category, "?category=#{category}"
 .row
  .span5{:class => 'offset11', :style => 'text-align:right'}
   = image_tag('ajax-loader.gif', :id => 'search-loader', :style => 'display:none')
   %input{:id => 'search-box', :class => 'span4', :type => :text, :placeholder => 'Search', :style => 'margin-bottom: 5px'}
 .row
  %table#table.zebra-striped
   %thead
    %tr
     %th Name
     %th Version
     %th{:style => 'width:100px'} Release
     %th Description
   %tbody
   - @plugins['plugins'].each do |key, plugin|
    %tr{:class => (plugin['labels']||[]).join(' ')}
     %td.name= link_to(key, plugin['wiki'])
     %td.version= plugin['version']
     %td.release= time_ago_in_words(plugin['releaseTimestamp']) + " ago"
     %td.discription= plugin['excerpt']

:javascript
 $(function() {
   var filter = function(category, word) {
     $('#search-loader').show();
     var re = new RegExp(word, 'i');
     $('#table tbody tr').each(function() {
       if ((category == 'All' || $(this).hasClass(category))
          && (word == '' || $(this).text().search(re) != -1)) {
         $(this).show();
       } else {
         $(this).hide();
       }
     });
     $('#search-loader').hide();
   }
   var last_category = 'All';
   $('#filter li').bind("click", function(e) {
     $('#filter li').removeClass("active");
     $(e.target).parent().addClass("active");

     last_category = e.target.text;
     filter(last_category, $('#search-box').attr('value'));

     return false;
   });
   var timer = 0;
   $('#search-box').bind("keyup", function(e) {
     var word = e.target.value;
     clearTimeout(timer);
     timer = setTimeout(function() {
       filter(last_category, word);
     }, 500);
   });

 });
