!!! Strict
%html
 %head
  %title= [@title, "Jenkins Plugin Hub"].compact.join(" | ")
  = stylesheet_link_tag 'bootstrap.min', 'application'
  = yield_content :include
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
 %body
  %header
   .container
    .row
     .span2.logo
      = link_to image_tag('icon.png'), url_for(:jenkins_plugins, :show)
     .span14
      %h1
       Jenkins Plugin Hub
      %p.lead
       This site is a hub site for
       %a{:href => 'https://jenkins-ci.org'} Jenkins
       plugins. This site provides you quick search and RSS feed for Jenkins plugins.
       %br
       Now
       = @all_plugins_count
       plugins are available. Last update:
       = time_ago_in_words(@mtime)
       ago.
       = '(cached)' if @cached
  = yield
  .container
   %footer
    Copyright (C) 2011
    %a{:href => 'https://www.codefirst.org'} codefirst.org
    All rights reserved.

